POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=app
DATABASE_URL=postgresql://postgres:CHANGE_ME@postgres/app
TEST_DATABASE_URL=postgresql://postgres:CHANGE_ME@postgres/apptest
REDIS_PASSWORD=CHANGE_ME
REDIS_URL=redis://:CHANGE_ME@redis:6379/0
TEST_REDIS_URL=redis://:CHANGE_ME@redis:6379/1
SECRET_KEY=CHANGE_ME
BACKEND_CORS_ORIGINS='["http://localhost:3000","http://127.0.0.1:3000"]'
